GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback
GOOGLE_DRIVE_ROOT_URL=
NEXT_PUBLIC_DRIVE_ROOT_URL=
GOOGLE_DRIVE_SCOPE=https://www.googleapis.com/auth/drive

DRIVE_FOLDER_ALPHA1=
DRIVE_FOLDER_ALPHA8=
DRIVE_FOLDER_ALPHA25=
DRIVE_FOLDER_AQUAPONICS=
DRIVE_FOLDER_PERSON5=
